@font-face {
    font-family: Fredoka_one;
    src: url(doc/fredokaone-regular-webfont.woff);
}

@font-face {
    font-family: Ubunto;
    src: url(doc/ubuntu-regular-webfont.woff);
}

* {
    margin: 0;
    padding: 0;
    border-style: none;
    text-decoration: none;
    list-style-type: none;
}

body {
    font-family: Ubunto;
}

main {
    margin-top: 45px;
}

.nav {
    display: grid;
    grid-template-columns: 15% 15% 40% 15% 15%;
    grid-template-rows: 100%;
    width: 100%;
    height: 45px;
    position: fixed;
    top: 0;
    z-index: 1000;
    background-color: rgb(255, 255, 255);
}

.ham {
    grid-column: 1 / 2;
    align-self: center;
    justify-self: center;
    /* On garde le burger au dessus de la page */
    z-index: 1000;
    width: 30px;
    height: 30px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    background-color: transparent;
    /* l'image du menu */
    background-image: url(doc/Burger\ menu.svg);
    background-size: 100%;
}

.ham:hover {
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

/* Changement de l'image quand il est fermé */
.showClose {
    background-image: url(doc/croix.svg);
}

.navbar {
    position: absolute;
    top: 0;
    left: 0;
    background: #00CAC9;
    border-radius: 8px;
    width: 200px;
    height: 310px;
    overflow: hidden;
    color: white;
    /* Cacher le menu du screen par défault */
    transform: translateY(-100%);
    /* transition et animation du menu */
    transition: transform 0.2s ease;
}

.showNav {
    /* show the menu */
    transform: translateY(0);
}

.navbar .menuLink {
    position: relative;
    top: 50px;
    left: 40px;
    color: white;
    font-weight: bolder;
}

.navbar li {
    padding-bottom: 15px;
}

.nav a {
    align-self: center;
    justify-self: center;
}

.search {
    grid-column: 2 / 3;
}

.logo {
    grid-column: 3 / 4;
    width: 100%;
    max-width: 200px;
}

.user {
    grid-column: 4 / 5;
}

.shop {
    grid-column: 5 / 6;
}

.heart {
    display: none;
}

.search-bar {
    display: none;
}

.hero-page {
    display: flex;
    position: relative;
    top: 10%;
    min-width: 520px;
    width: 100%;
    min-height: 287px;
}

.hero-page img {
    display: flex;
    width: 100%;
    min-width: 520px;
}
.tittle {   
    display: flex;
    justify-content: center;
    text-align: center;
    width: 100%;
    position: absolute;
    top: 5%;
}
.slogan {
    font-family: Fredoka_one;
    font-size: 25px;
    color: #00CAC9;
}

.category-page {
    display: flex;
    justify-content: center;
    width: 100%;
    min-width: 520px;
    min-height: 600px;
}

.category-page h2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    position: absolute;
    margin-top: 40px;
    font-family: Fredoka_one;
    color: #5A5A5A;
    font-size: 24px;
    letter-spacing: 2px;
}

.category {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 100px;
    width: 100%;
}

figure {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
}

figure img:hover {
    background-color: #00caca33;
    cursor: pointer;
}

figure img {
    margin: auto;
    border-radius: 8px;
}

figcaption {
    color: #5A5A5A;
    font-family: Fredoka_one;
}

.about-us-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 520px;
    width: 100%;
    min-height: 540px;
}

.about-us-page h2 {
    display: flex;
    margin: 40px 0 40px 0;
    font-family: Fredoka_one;
    font-size: 24px;
    color: #5A5A5A;
    letter-spacing: 2px;
}

.about-us-page p {
    display: none;
}

.about-us-page img {
    margin: 0 10px 0 10px;
    width: 100%;
    max-width: 480px;
}

.button {
    display: flex;
    justify-content: center;
    background-color: #FF931E;
    border: none;
    color: #fff;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border-radius: 8px;
    width: 200px;
    margin: 40px;
}

.button.large {
    display: none;
}

.button:hover {
    background-color: #ff921e6b;
}

.our-mark {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 520px;
    width: 100%;
    min-height: 540px;
}

.our-mark h2 {
    margin: 40px 0 15px 0;
    font-family: Fredoka_one;
    color: #5A5A5A;
    font-size: 24px;
    letter-spacing: 2px;
}

.mark-p {
    font-size: 20px;
    color: #5A5A5A;
    margin-top: 20px;
}

.carousel-card {
    display: flex;
    align-items: center;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
    overflow-y: hidden;
    overflow-x: scroll;
    position: relative;
    margin: 2rem auto;
    width: 300px;
}

.carousel-card::-webkit-scrollbar {
    height: 10px;
}

.carousel-card::-webkit-scrollbar-thumb {
    background: #FF931E;
    border-radius: 8px;
}

.card1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    scroll-snap-align: start;
    width: 260px;
    height: 347px;
    padding: 0px 10px 0px 10px;
    margin: 10px;
    background-color: #EEEEEE;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
}

.card1 img {
    margin-top: 10px;
}

.card1 h3 {
    display: flex;
    align-items:flex-end;
    font-family: Fredoka_one;
    color: #5A5A5A;
    font-size: 20px;
    margin-top: 20px;
}

.card1 a {
    font-size: 14px;
    color: #00CAC9;
    margin-top: 20px;
}

.arrow {
    display: none;
}

.our-reviews {
    display: flex;
    flex-direction: column;
    min-width: 520px;
}

.our-reviews h2 {
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
    margin-top: 40px;
    font-family: Fredoka_one;
    font-size: 24px;
    color: #5A5A5A;
    letter-spacing: 2px;
}

.review-p {
    display: flex;
    justify-content: center;
    font-size: 20px;
    color: #5A5A5A;
    margin-top: 20px;
}

.slider {
    display: flex;
    align-items: center;
    scroll-snap-type: x mandatory;
    overflow-y: hidden;
    overflow-x: scroll;
    position: relative;
    margin: 2rem auto;
    width: 372px;
}

.slider::-webkit-scrollbar {
    height: 10px;
}

.slider::-webkit-scrollbar-thumb {
    background: #FF931E;
    border-radius: 8px;
}

.review {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    scroll-snap-align: start;
    min-width: 372px;
}

.review .star {
    margin-bottom: 30px;
}

.review .name {
    font-family: Fredoka_one;
    font-size: 22px;
    color: #5A5A5A;
    margin-top: 30px;
}

.review .info {
    display: flex;
    text-align: center;
    width: 250px;
    margin-top: 30px;
    font-size: 16px;
    color: #5A5A5A;
}

.review .btn {
    display: flex;
    justify-content: center;
    background-color: #FF931E;
    border: none;
    color: #fff;
    padding: 15px;
    margin-bottom: 30px;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    border-radius: 8px;
    width: 140px;
    margin-top: 40px;
}

.review .btn:hover {
    background-color: #ff921e6b;
}

.secure {
    display: none;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 520px;
}

footer img {
    margin-top: 30px;
}

footer .links {
    display: flex;
    flex-direction: row;
    margin-top: 40px;
    font-family: Fredoka_one;
    font-size: 14px;
    color: #5A5A5A;
}

footer .links li {
    padding: 20px;
}

footer .social {
    display: flex;
    flex-direction: row;
    margin-bottom: 50px;
}

footer .social li {
    padding: 15px
}

footer hr {
    margin-top: 20px;
    width: 80%;
    height: 2px;
    background-color: #C4C4C4;
}

.middle {
    display: none;
}

@media screen and (min-width: 800px) {
    .nav {
        display: grid;
        grid-template-columns: 15% 15% 40% 10% 10% 10%;
        grid-template-rows: 100%;
    }
    .heart {
        display: flex;
        grid-column: 6 / 7;
    }

    .slogan {
        font-size: 30px;
    }

    .category-page h2 {
        font-size: 28px;
    }

    .category {
        width: 80%;
        margin-bottom: 40px;
    }

    .category img {
        width: 35%;
        height: 80%;
    }

    .category figcaption {
        margin-bottom: 10px;
    }

    .category figcaption {
        font-size: 20px;
        margin-top: 5px;
    }

    .about-us-page {
        display: flex;
        flex-direction: row;
        width: 100%;
        background-color: #EEEEEE;
    }

    .about {
        width: 50%;
        margin: auto;
    }

    .about-us-page img {
        width: 50%;
        margin: auto;
        padding-right: 20px;
    }

    .about-us-page h2 {
        font-size: 28px;
        padding-left: 20px;
    }

    .about-us-page p {
        display: flex;
        margin-bottom: 20px;
        padding-left: 20px;
        padding-right: 20px;
        color: #5A5A5A;
        font-size: 16px;
    }

    .button.large {
        display: flex;
        margin: 40px 0 40px 20px;
    }

    .button.small {
        display: none;
    }

    .carousel-card {
        width: 500px;
    }

    .our-mark h2 {
        font-size: 28px;
    }

    .our-reviews {
        background-color: #EEEEEE;
    }

    .our-reviews h2 {
        font-size: 28px;
    }

    .slider {
        width: 700px;
    }

    .secure {
        display: flex;
        flex-direction: row;
        width: 100%;
        min-height: 80px;
    }

    .pay {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        width: 33%;
        border-right: 2px solid #00CAC9;
    }

    .pay img {
        display: none;
    }

    .delivery {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        width: 33%;
        border-right: 2px solid #00CAC9;
    }

    .delivery img {
        display: none;
    }

    .chronopost {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        width: 33%;
    }

    .chronopost img {
        display: none;
    }

    .secure p {
        font-family: Fredoka_one;
        font-size: 18px;
        color: #5A5A5A;
    }

    footer {
        background-color: #EEEEEE;
    }

    .links p {
        font-size: 14px;
    }
}

@media screen and (min-width: 1000px) {
    .slogan {
        font-size: 34px;
    }

    .category-page h2 {
        font-size: 32px;
    }

    .about-us-page h2 {
        font-size: 32px;
    }

    .our-mark h2 {
        font-size: 32px;
    }

    .our-reviews h2 {
        font-size: 32px;
    }
    
    .carousel-card {
        width: 600px;
    }

    .slider {
        width: 800px;
    }
}

@media screen and (min-width: 1200px) {
    .category {
        display: grid;
        grid-template-columns: 25% 25% 25% 25%;
        grid-template-rows: 50% 50%;
        margin-top: 20px;
    }

    .category figure {
        justify-self: center;
    }

    .category figure img {
        width: 100%;
        height: auto;
    }

    .carousel-card {
        width: 800px;
    }

    .slider {
        width: 900px;
    }

    .pay img {
        display: flex;
        margin: 10px;
    }

    .delivery img {
        display: flex;
        margin: 10px;
    }

    .chronopost img {
        display: flex;
        margin: 10px;
    }

    footer {
        display: grid;
        grid-template-columns: 33% 33% 33%;
        grid-template-rows: 50% 50%;
    }

    footer img {
        justify-self: center;
        grid-column: 2;
        grid-row: 1;
        width: 50%;
        max-width: 260px;
    }

    .links.left {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
        justify-self: end;
    }

    .links.right {
        grid-column: 3 / 4;
        grid-row: 1 / 2;
        justify-self: start;
    }

    hr.left {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
        justify-self: end;
        align-self: end;
        width: 80%;
    }

    hr.middle {
        display: grid;
        grid-column: 2 / 3;
        grid-row: 1 / 2;
        align-self: end;
        width: 100%;
    }

    hr.right {
        grid-column: 3 / 4;
        grid-row: 1 / 2;
        justify-self: start;
        align-self: end;
        width: 80%;
    }

    .social {
        justify-self: center;
        grid-column: 2 / 3;
        grid-row: 2 / 3;
    }

    .social img {
        width: 100%;
    }

    .nav {
        display: grid;
        grid-template-columns: 20% 35% 30% 5% 5% 5%;
        grid-template-rows: 100%;
        height: 64px;
    }

    .logo {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
    }

    .search {
        grid-column: 3 / 4;
        grid-row: 1 / 2;
    }

    .user {
        grid-column: 4 / 5;
        grid-row: 1 / 2;
    }

    .shop {
        grid-column: 5 / 6;
        grid-row: 1 / 2;
    }

    .heart {
        grid-column: 6 / 7;
        grid-row: 1 / 2;
    }

    .navbar {
        display: flex;
        position: relative;
        grid-column: 2 / 3;
        grid-row: 1 / 2;
        overflow: visible;
        width: 100%;
        height: auto;
        transform: none;
        background: none;
        transition: none;
    }

    .navbar ul {
        display: flex;
        flex-direction: row;
    }

    .navbar .menuLink {
        top: 20px;
        left: 10px;
        color: #5A5A5A;
        font-size: 16px;
        padding: 10px;
    }

    .menuLink:hover {
        color: #00CAC9;
    }

    .ham {
        display: none;
    }
}

@media screen and (min-width: 1400px) {
    .slogan {
        font-size: 36px;
    }

    .search-bar {
        display: flex;
        grid-column: 3 / 4;
        grid-row: 1 / 2;
        justify-self: center;
        align-self: center;
        width: 60%;
        height: 40px;
        border: 2px solid #FF931E;
        border-radius: 8px;
    }

    .search {
        display: none;
    }

    .carousel-card {
        justify-content: center;
        width: 100%;
    } 

    .arrow {
        display: inline-block;
        position: relative;
        background-color: #fff;
    }

    .arrow:hover {
        opacity: 0.75;
        cursor: pointer;
    }

    .arrow.prev {
        top: -250px;
        right: 620px;
    }

    .arrow.next {
        top: -300px;
        left: 620px;
    }

    .slider {
        justify-content: center;
        width: 100%;
    }

    .review {
        background-color: #ff921e41;
        margin: 10px;
        padding-top: 10px;
        border-radius: 8px;
    }

    .review.two {
        background-color: #00caca3a;
    }
}

@media screen and (prefers-reduced-motion: no-preference) {
    html {
      scroll-behavior: smooth;
    }
}

.back-to-top-wrapper {
    position: sticky;
    right: 10px;
    bottom: -5em;
    width: 3em;
    pointer-events: none;
  }
  
  .back-to-top-link {
      position: absolute;
      top: 20px;
      left: 20px;
      pointer-events: all;
  }