@font-face {
    font-family: Fredoka_one;
    src: url(doc/fredokaone-regular-webfont.woff);
}

@font-face {
    font-family: Ubunto;
    src: url(doc/ubuntu-regular-webfont.woff);
}

* {
    margin: 0;
    padding: 0;
    border-style: none;
    text-decoration: none;
}

body {
    font-family: Ubunto;
}

main {
    margin-top: 45px;
}

.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    height: 45px;
    position: fixed;
    top: 0;
    z-index: 1000;
    background-color: #fff;
}
.ham {
    position: relative;
    /* On garde le burger au dessus de la page */
    z-index: 1000;
    top: 20%;
    left: 3%;
    min-width: 30px;
    height: 30px;
    border: none;
    cursor: pointer;
    background-color: transparent;
    /* l'image du menu */
    background-image: url(doc/Burger\ menu.svg);
    background-size: 100%;
}

/* Changement de l'image quand il est fermé */
.showClose {
    background-image: url(doc/croix.svg);
}

.navbar {
    position: absolute;
    top: 0;
    left: 0;
    background: #00CAC9;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    color: white;
    /* Cacher le menu du screen par défault */
    transform: translateY(-100%);
    /* transition et animation du menu */
    transition: transform 0.2s ease;
}

.navbar .menuLink {
    position: relative;
    top: 50px;
    left: 25px;
    color: white;
    font-weight: bolder;
}

.navbar li {
    padding-bottom: 15px;
}

.showNav {
    /* show the menu */
    transform: translateY(0);
}

.search {
    position: relative;
    margin-left: 20px;
    top: 20%;
}

.logo {
    position: relative;
    top: 20%;
    margin-left: 20px;
    z-index: -1;
}

.user {
    position: relative;
    margin-left: 20px;
    top: 20%;
}

.shop {
    position: relative;
    margin-left: 20px;
    top: 20%;
    right: 5%;
}

.heart {
    display: none;
}

.hero-page {
    position: relative;
    top: 10%;
    min-width: 372px;
    width: 100%;
    min-height: 287px;
}

.hero-page img {
    width: 100%;
}

.category-page {
    display: flex;
    justify-content: center;
    width: 100%;
    min-width: 372px;
    min-height: 600px;
}

.category-page h2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    position: absolute;
    padding-top: 20px;
    font-family: Fredoka_one;
    color: #5A5A5A;
    font-size: 24px;
    font-weight: normal;
}

.category {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 60px;
    width: 100%;
}

figure {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
}

figure img {
    margin: auto;
}

figcaption {
    color: #00CAC9;
    font-family: Fredoka_one;
}

.about-us-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 372px;
    width: 100%;
    min-height: 540px;
}

.about-us-page h2 {
    display: flex;
    margin: 40px 0 40px 0;
    font-family: Fredoka_one;
    font-size: 24px;
    color: #5A5A5A;
}

.about-us-page p {
    display: none;
}

.about-us-page img {
    margin: 0 10px 0 10px;
}

.button {
    display: flex;
    justify-content: center;
    background-color: #FF931E;
    border: none;
    color: #fff;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border-radius: 8px;
    width: 200px;
    margin-top: 40px;
}

.our-mark {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 372px;
    width: 100%;
    min-height: 540px;
}

.carousel {
    align-items: center;
    display: flex;
    overflow: hidden;
    position: relative;
    margin: 2rem auto;
    width: 261px;
}

.carousel-card {
    display: flex;
    transform: translateX(0);
    transition: transform 0.25s;
}

.carousel-btn {
    cursor: pointer;
    height: 3rem;
    width: 3rem;
    position: absolute;
    opacity: 0.5;
    transition: opacity 0.25s;
    z-index: 1;
}

.carousel-btn.previous {
    left: 5px;
}

.carousel-btn.next {
    right: 5px;
}

.carousel-btn:hover {
    opacity: 1;
}

.our-mark h2 {
    margin-bottom: 40px;
    font-family: Fredoka_one;
    color: #5A5A5A;
    font-size: 24px;
}

.card1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 260px;
    height: 347px;
    background-color: #EEEEEE;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
}

.card1 img {
    margin-top: 10px;
}

.card1 h3 {
    display: flex;
    align-items:flex-end;
    font-family: Fredoka_one;
    color: #5A5A5A;
    font-size: 20px;
    margin-top: 20px;
}

.card1 a {
    font-size: 14px;
    color: #00CAC9;
    margin-top: 20px;
}



